img{
	width:200px;
	height:200px;
	margin-top:2%;
}

h1{
	background-color:#26a69a;
	padding:5% 0%;
}

.text-white{
	color:white;
	font-weight:bold;
}

button{
	background-color: #00bfa5;
	border:none;
}